@import "../../../_css/common";

.form {
  width: 100%;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  margin-top: 3px;

}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}
