@import '../../_css/common';

.relatedProducts {
  padding-top: var(--base);
  width: 100%;
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 30px;
  
  @include mid-break {
    gap: 20px;
  }
  
  @include small-break {
    grid-template-columns: 100%;
  }
}

.title {
  font-weight: 400;
  margin-bottom: 30px;
}